@charset "UTF-8";
@import "reset.css";

.q-nav{
    display: flex;
}


/* 문항게시판 */
.text-1{
    font-size: 25px;
    font-weight: 700;
    margin-top: 70px;
    margin-bottom: 20px;
    display: inline-block;
    /* margin-left: 580px; */
    padding-left: 354px;
}

.q-contents{
    width: 1300px;
    /* width: 1000px; */
    height: auto;
    margin-left: 354px;
    /* margin-left: 450px; */
    /* margin-left: 580px; */
    margin-top: 20px;
    /* background-color: #acc9e6; */
    background-color: #f4f7fa;
}
.q-contents-text-2{
    display: flex;
    justify-content: center;
}

.text-2{
    width: 80%;
    display: flex;
    justify-content: space-between;
    /* font-size: 20px; */
    font-size: large;
    /* background-color: aliceblue; */
    /* margin-left: 250px; */
    margin: 20px 0;
}

/* .right-hr{
    margin-right: 0;
} */

hr{
    /* width: 1050px; */
    height: 4px;
    /* margin-left: 250px; */
    /* background-color: #333; */
    background-color: grey;
    border: 0;
    /* margin-right: 0; */
}

.text-3{
    display: flex;
    justify-content: flex-end;
    /* font-size: 18px; */
    font-size: large;
    /* background-color: aliceblue; */
    margin-left: 250px;
    margin-top: 20px;
    /* letter-spacing: 0px; */
    word-spacing: 20px;
    margin-right: 160px;
    font-size: 16px;
}

/* .text-2 div{
    text-align: justify;
} */

/* .text-2 span{
    text-align: justify;
} */

/* 게시판 */
.all-text-box{
    display: grid;
    justify-content: center;
    margin-top: 20px;
    /* margin-left: 60px; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    /* 최소한 100px, 최대는 자동으로 늘어나게 */
    grid-template-rows: repeat(2, minmax(250px, auto));
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 40px;
    /* background-color: yellow; */

    /* margin-left: 250px; */

    /* height: 550px;
    width: 1450px; */
}

/* .text-box{
    border: 2px solid #333;
    height: 250px;
    width: 1000px;
} */

.text-box1{
    border: 1px solid grey;
    border-radius: 15px;
    /* height: 250px; */
    
    /* width: 1300px; */
    text-align: left;
    background-color: white;
    font-size: medium;
    padding: 10px;
}

.text-box2{
    /* border: 2px solid #333; */
    border: 1px solid grey;
    border-radius: 15px;
    /* height: 250px; */
    
    text-align: left;
    background-color: white;
    font-size: medium;
    padding: 10px;
}

/* 댓글 버튼 */
.chat-btn{
    display: flex;
    /* justify-content: space-between; */
    margin-left: 130px;
    margin-top: 20px;
    width: 1030px;
}

.chat-btn1{
    display: flex;
    width: 650px;
    height: 40px;
    /* margin-left: 240px; */
    /* margin-top: 40px; */
    /* background-color: aliceblue; */
    /* justify-content: center; */
}



.chat-btn2{
    display: flex;
    width: 650px;
    height: 40px;
    justify-content: end;
    /* margin-left: 300px; */
    /* margin-top: 40px; */
    /* background-color: aliceblue; */
    /* justify-content: center; */
}

/* 댓글 게시판 */
.chat-board{
    border-collapse: collapse;
    /* text-align: center; */
    line-height: 1.5;
    width: 1000px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.reviewer-info{
    width: 118px;
    height: 32px;
    margin-left: 10px;
}

.reviewer-info-header{
    width: 1000px;
    height: 70px;
    display: flex;
    padding: 20px 0px;
    justify-content: space-between;
    /* background-color: #acc9e6; */
    border-top: 1px solid  grey;
    border-bottom: 1px solid rgb(218, 217, 217);
}

.reviewer-info span{
    display: block;
}

.reviewer-name{
    font-size:medium ;
    font-weight: 600;
}

.reviewer-date{
    font-size:small ;
    font-weight: 300;
}

.review-body{
    width: 1000px;
    /* height: 100px; */
    height: auto;
    display: flex;
    justify-content: flex-start;
    /* background-color: antiquewhite; */
    border-bottom: 1px solid  grey;
    padding: 20px 0px;
}

.review-contents{
    width: 980px;
    /* height: 100px; */
    height: auto;
    margin-left: 10px;
    font-size: medium;
}

.reviewer-img{
    width: 50px;
    height: 30px;
    color: black;
    font-weight: bolder;
    font-size: 15px;
    /* margin-right: 10px; */
    /* margin-left: 100px; */
    margin-top: 10px;
    /* background-color: transparent; */
    /* background-color: #acc9e6; */
    background-color: rgb(150, 150, 150);
    font-size: small;
}

/* 댓글입력 */
.chat{
    display: inline-block;
    /* width: 800px; */
    width: 1000px;
    margin-left: 150px;
    /* margin-top: 30px; */
    /* background-color: #acc9e6; */

    /* border-collapse: collapse;
    text-align: center;
    line-height: 1.5;
    width: 1000px;
    margin-left: 150px;
    margin-top: 10px;
    margin-bottom: 50px; */
}

.comment1{
    width: 1000px;
    height: 20px;
    border-bottom: 1px solid  grey;
    /* margin-top: 20px; */
    padding: 10px 0px;
    display: flex;
    /* background-color: aquamarine; */
}

.comment2{
    width: 1000px;
    height: 40px;
    /* border-top: 1px solid  grey; */
    /* margin-top: 20px; */
    padding: 10px 0px;
    display: flex;
    /* background-color: antiquewhite; */
}

.comment-input {
    width: 1000x;
    height: 30px;
    /* padding-left: 60px; */
    /* background-color: yellow; */
}

.comment-input input{
    /* width: 460px; */
    width: 950px;
    height: 30px;
    font-size: medium;
}

.comment-btn{
    /* width: 40px;
    height: 30px; */

    width: 50px;
    height: 30px;
    color: black;
    /* font-weight: bolder;
    font-size: 15px; */
    font-size: small;
    /* margin-right: 10px; */
    margin-top: 2px;
    /* background-color: transparent; */
    /* background-color: #acc9e6; */
    background-color: rgb(150, 150, 150);
}

/* 버튼 */
.btn{
 
    height: 40px;
    margin-left: 10px;
    
    /* background-color: aliceblue; */
    justify-content: center;
}



.button{
    width: 100px;
    height: 50px;
    color: black;
    /* font-weight: bolder;
    font-size: 15px; */
    font-size: medium;
    background-color: transparent;
    /* margin-left: 200px;
    margin-right: 200px; */
}

#comments{
    width: 1040px;
    height: 300px;
    margin-top: 60px;
}

.form-group-btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: flex-end;
}

.reple{
    width: 100%;
    height: 30px;
    
    border-bottom: 1px solid;
}
.comment{
    display: flex;
    flex-direction: column;
    
    
}
.comment-actions{
    display: flex;
    width: 940px;
    height: auto;
    justify-content: space-between;
    align-items: center;
}
.profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;;
}
.comment-author{
    font-size: 13px;;
}
.comment-text{
    font-size: 14px;
}
.comment-date{
    font-size: 12px;
}
.comment-footer{
    width: 300px;
    height: 30px;
    margin-left: 65px;
    margin-bottom: 20px;
}
.bi-hand-thumbs-up{
    margin-right: 5px;
}
.comment-footer>span{
    margin-right: 8px;
}
.comment-footer>button:focus{
    border: none;
    outline:none;

}