@charset "UTF-8";
@import "reset.css";

/* 문항게시판 */
.text{
    font-size: 25px;
    font-weight: 700;
    /* margin-top: 50px; */
    margin-top: 70px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 354px;
}

.contents {
    /* width: 100%; */
    /* width: 1600px; */
    width: 1300px;
    /* height: 100%; */
    /* height: 920px; */
    height: auto;
    margin-left: 354px;
    
    /* margin-top: 40px; */
    margin-top: 20px;
    /* background-color: rgb(178, 196, 211); */
    background-color: #f4f7fa;
    
}

hr{
    /* width: 50%; */
    height: 4px;
    /* background-color: #333; */
    background-color: grey;
    /* background-color: rgb(150, 150, 150); */
    border: 0;
}

.myquestion-title{position: absolute;top: 60px;left: 400px;}
.myquestion-content{width: 1300px;height: 650px;background: #f4f7fa;margin-left: 350px;display: flex;justify-content:center;margin-top: 120px;margin-bottom: 50px;}
.content-size{width: 1300px;}
.myq-date{padding-left: 130px;}
 .collapse.show{display: inline-table;background: white;margin-top: 20px;}
 thead th:nth-child(1) {
  width: 50px;
}
thead th:nth-child(2) {
  width: 480px;
}
thead th:nth-child(3) {
  width: 50px;
}
thead th:nth-child(4) {
  width: 30px;
}
thead th:nth-child(5) {
  width: 80px;
}
thead th{margin-bottom: 15px;}


tbody th:nth-child(1) {
  width: 50px;
}
tbody td:nth-child(2) {
  width: 480px;
}
tbody td:nth-child(3) {
  width: 50px;
}
tbody td:nth-child(4) {
  width: 30px;
}
tbody td:nth-child(5) {
  width: 80px;
}



/* 게시판 */

.contents-size{
  width: 100%;
  height: 225px;
  background: #f4f7fa;
}

/* 페이지번호 */

/* 검색바 */

.navigation-center {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 46px;
  padding-left: 120px;
  margin-top: 10px;
}
.serch{
  margin-left: 220px;
  margin-top: -8px;
}

.write{
  width: 85%;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  
  
}
.col{
  margin-top: 20px;;
}




/* 봤던글 */
.position-right-top-side{
    top: 150px; 
    width: 220px;
    height: auto;   
    right: 0;
    position: fixed; 
    

}



