@charset "UTF-8";
@import "reset.css";

/* 문항게시판 */
.text{
    font-size: 25px;
    font-weight: 700;
    /* margin-top: 50px; */
    margin-top: 70px;
    margin-bottom: 20px;
    display: inline-block;
    margin-left: 354px;
}

.contents {
    /* width: 100%; */
    /* width: 1600px; */
    width: 1300px;
    /* height: 100%; */
    /* height: 920px; */
    height: auto;
    margin-left: 354px;
    
    /* margin-top: 40px; */
    margin-top: 20px;
    /* background-color: rgb(178, 196, 211); */
    background-color: #f4f7fa;
    
}

hr{
    /* width: 50%; */
    height: 4px;
    /* background-color: #333; */
    background-color: grey;
    /* background-color: rgb(150, 150, 150); */
    border: 0;
}

/* 게시판 */
.all-box{
    display: grid;
    margin-top: 50px;
    /* margin-left: 60px; */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    /* column-gap: 10px;
    row-gap: 10px; */
    gap: 40px;
    /* background-color: yellow; */

    height: 550px;
    width: 1300px;
}

.box{
    /* border: 2px solid #333; */
    border: 1px solid grey;
    border-radius: 10px;
    height: auto;
    width: 290px;
    font-size: medium;
    /* margin-left: 20px; */
}

.line{
    height: 3px;
    background-color: grey;
    border: 0;
}

/* 페이지번호 */
.w3-pagination{
    text-align: center;
    margin-top: 50px;
    /* display: inline-block;
    border: 1px solid #333;
    border-right: 0;
    padding-left: 0; */
    /* background-color: red; */
}

.w3-pagination li{
    text-align: center;
    /* float: left; */
    display: inline-block;
    list-style: none;
}

.w3-pagination li a{
    display: block;
    /* font-size: 16px;
    font-weight: bold; */
    font-size: medium;
    color: black;
    padding: 9px 12px;
    /* border-right: solid 1px #333; */
    box-sizing: border-box;
    text-decoration-line: none;
}

.w3-pagination li.on{
    background: rgb(177, 176, 176);
}

.w3-pagination li.on a{
    color: #333;
} 
/* 검색바 */


.foot{
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    padding-left: 20px;
    
}

.select{
    
    width: 80px;
    height: 30px;
    
    /* margin-top: 120px; */
    
}



.search > input{
    width: 280px;
    height: 30px;
    font-size: medium;
}



.button > button{
    height: 30px;
    width: 50px;
    background-color: rgb(150, 150, 150);
    font-size: small;
    margin: 0 10px;
    border-radius: 5px;
}
.button  button{
    height: 30px;
    width: 50px;
    background-color: rgb(150, 150, 150);
    font-size: small;
   
    border-radius: 5px;
}

.myquestion-title{position: absolute;top: 60px;left: 400px;}
.myquestion-content{width: 1300px;height: auto;background: #f4f7fa;margin-left: 350px;margin-top: 120px;}
.content-size{width: 1300px; height: auto;}
.myq-date{padding-left: 130px;}
 .collapse.show{display: inline-table;background: white;margin-top: 20px;}

 thead th:nth-child(1) {
    width: 100px;
  }
  thead th:nth-child(2) {
    width: 480px;
  }
  thead th:nth-child(3) {
    width: 50px;
  }
  thead th:nth-child(4) {
    width: 50px;
  }
  thead th:nth-child(5) {
    width: 50px;
  }
  thead th{margin-bottom: 15px;}
  

  tbody th:nth-child(1) {
    width: 100px;
  }
  tbody td:nth-child(2) {
    width: 480px;
  }
  tbody td:nth-child(3) {
    width: 50px;
    font-size: 14px;
  }
  tbody td:nth-child(4) {
    width: 50px;
    font-size: 14px;
  }
  tbody td:nth-child(5) {
    width: 50px;
    font-size: 12px;
  }


/* 봤던글 */
.position-right-top-side{
    top: 150px; 
    width: 200px;
    height: auto; 
    
    right: 35px;
    display: flex; 
    flex-direction: column; 
    position: fixed; 
    text-align: center;
    border-radius: 15px;
    
}



.banner-contents{
    text-align: center;
    width: 200px;
    height: auto;
    
    border-radius: 10px;
}

.banner-contents thead th{

    padding: 10px;
    font-size: medium;
    vertical-align: top;
    color: black;
    
    background-color: #d5dce2;
    border-radius: 10px;
}

.banner-contents td{
  
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid grey;
    text-align: center;
    background-color: #f4f7fa; 
    border-radius: 10px;
}