@charset "UTF-8";
@import "reset.css";


.gpt{margin-left: 360px; width: 1540px;height: 1000px; background:#f4f7fa;}
.gpt-content{width: 1300px;height: auto;}

.gpt-model{width: 1540px;height: 45px;background: #f7f7f8;display: flex;justify-content: center;font-size: 12px;align-items: center;color: #8e8ea0;}
.gpt-problem{width: 1540px;height: 40px; background: white;display: flex;justify-content: center;}
.gpt-problem-text{width: 60%;height: auto;display: flex;align-items: center;}


.gpt-answer{width: 1540px;height: 50px; background: #f7f7f8;display: flex;}
.gpt-answer-text{width: 60%;height: auto;display: flex;align-items: center;}


/*-------------------------------------------------------------------------------------*/
.gpt-footer{width: 1560px;height: 100px;position: fixed; background: white;bottom: 0;right: 0;display: flex;justify-content: center;}
.gpt-form{width: 60%;height: 80px;}
.gpt-text{width: 100%;height: 80px;display: flex;align-items: center;position: relative;}
.gpt-text textarea{padding:0 20px; width: 100%;height: 40px; border: none;resize: none; box-shadow:  0 1px 1px rgba(0, 0, 0, .075);line-height:40px; text-align: start  ; }
.gpt-text button{position: absolute;right: 16px;width: 60px;height: 30px;}

