<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.toto.mapper.bulletinMapper">
	<select id="getAllList" resultType="kr.toto.entity.Bulletin">
		select * from Bulletin order by num desc
	</select>
	
	<select id="bulletin" parameterType="kr.toto.entity.Bulletin">
		insert into Bulletin(b_num, m_num, b_file_or_quiz,b_title, b_content, b_word, b_file1, b_file2, b_file3, b_date, b_select, q_num)
		values(#{b_num}, #{m_num}, #{b_file_or_quiz}, #{b_title}, #{b_content}, #{b_word}, #{b_file1}, #{b_file2}, #{b_file3}, now(), #{b_select}, #{q_num},)
	</select>
	
	<select id="get" parameterType="int"  resultType="kr.toto.entity.Bulletin">
		select * from Bulletin where b_select = #{b_select}	
	</select>
	
</mapper>