<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.toto.mapper.QuizMapper">
	<insert id="insertQ" parameterType="kr.toto.entity.Quiz">
	insert into Quiz (q_quest, q_wrong1, q_wrong2,q_wrong3, q_answer, q_date, m_nick,q_sentence, q_paragraph) values
	(#{q_quest}, #{q_wrong1},#{q_wrong2}, #{q_wrong3}, #{q_answer}, now(), #{m_nick},#{q_sentence},#{q_paragraph})
	</insert>
	<select id="selectMyQuiz" resultType="kr.toto.entity.Quiz" parameterType="kr.toto.entity.Member">
		select * from Quiz where m_nick = #{m_nick}
	</select>
	
</mapper>